{{ 'component-home-header.css' | asset_url | stylesheet_tag }}

<section class="home-header">
  {% for block in section.blocks %}
    <div class="slide" style="background-image:url({{block.settings.image | img_url: 'master'}})">
      <div class="slide-content">
        <div class="left">
          <span class="caption">Lacconic</span>
          <h2 class="h1">Beautifully Emotional</h2>
        </div>

        <a href="/collections/all" class="button">Shop Now</a>

      </div>
    </div>
  {% endfor %}
</section>

{% schema %}

{
  "name" : "Home Header",
  "tag" : "section",
  "class" : "home-header-wrap",
  "max_blocks": 12,
  "settings" : [
    {
      "type" : "image_picker",
      "id" : "image",
      "label" : "Image"
    }
  ],
  "blocks" : [
    {
      "name" : "Slide",
      "type" : "slide",
      "settings" : [
        {
          "type" : "image_picker",
          "id" : "image",
          "label" : "Image"
        }
      ]
    }
  ],
  "presets" :[
    {
      "name": "Home Header",
      "blocks" :[
        {
          "type" : "slide"
        }
      ]
    }
  ]
}

{% endschema%}